:root {
    /* # Viva La Vida Palette */
    --vlv-gold: #907B4C;
    --vlv-black: #020100;
    --vlv-darkbrown: #0E0800;
    --vlv-lighter-black: #090805;
}

@font-face {
    font-family: 'vive-la-vie';
    src: url(ViveLaVieV1-Regular.ttf);
}

.victor-mono-body {
  font-family: "Victor Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

header {
    background-color: var(--vlv-lighter-black);
}

body {
    /* display: flex; */
    /* flex-direction: column; */
    background-color: var(--vlv-black);
    color: var(--vlv-gold);
    align-items: center;
    text-align: center;
    font-family: vive-la-vie;
    font-size: 1.25rem;
}

footer {
    margin-top: auto;
}

section {
    margin-top: 50px;
    margin-bottom: 25%;
    /* max-width: fit-content; */
    scroll-margin-top: 200px;

}

input {
    background-color: var(--vlv-darkbrown);
    accent-color: var(--vlv-gold);
    color: aliceblue;
}

output {
    color: aliceblue;
}

a {
    color: #a89468;
}